# Dependencies
node_modules/
venv/
.venv/
env/
__pycache__/
*.pyc
museum.db
API/seed_newsletters.py
API/migrate_to_postgres.py
API/sent_emails.txt

# Environment Variables
.env
.env.local
.env.*.local

# Build Artifacts
dist/
build/
*.egg-info/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
